@tailwind base;
@tailwind components;
@tailwind utilities;



.typing-text {
    /* white-space: nowrap; */
    overflow: hidden;
    animation: typing 1s steps(400) forwards;
}

.blink-cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

#sucess {
    animation: teste 1s infinite;
}

@keyframes teste {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}