@tailwind base;
@tailwind components;
@tailwind utilities;

/* imagens da ui device da pagina UiPageDevice.js */
img.ui_device {
    margin-left: 12px;
    transform: scale(0.9, 0.9);
    box-shadow: 12px 12px 31px #cfcfcf;
    border-radius: 10px;
}

img.ui_device_03 {
    transform: scale(0.8, 0.8);
    position: absolute;
    margin-left: -15rem;
    box-shadow: 12px 14px 31px #cfcfcf;
    border-radius: 10px;
}

.bg-ui-device {
    background-image: linear-gradient(to right, #fff, #fff);
}

/* ================================================ */
.bg-ui-page-web {
    /* background-image: linear-gradient(to right, #fff, #a4f1b1); */
    background-image: linear-gradient(to right, #fff, #fff);
}

.bg-ui-page-jogos {
    /* background-image: linear-gradient(to right, #edf1de, #ffffff); */
    background-image: linear-gradient(to right, #fff, #fff);
}


@media screen and (max-width: 350px) {

    /* STYLE PAGINA UiPageDevice.js */
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ui-img-group {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }

    .title-page-device {
        width: 100% !important;
    }

    .title-page-device h1 {
        width: 100%;
        font-size: 11pt;
    }

    .title-page-device p {
        font-size: 9pt;
        width: 100%;
    }

    img.ui_device {
        transform: scale(0.6, 0.6) rotateZ(15deg);
    }

    img.ui_device_03 {
        transform: scale(0.6, 0.6) rotateZ(-21deg);
        position: relative;
        border-radius: 10px;
    }

    /* STYLE PAGINA UIPageWeb.js */
    .container-page-web {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-page-web {
        width: 100% !important;
    }

    .title-page-web h1 {
        width: 100%;
        z-index: 1;
        font-size: 11pt;
    }

    .title-page-web p {
        width: 100%;
        z-index: 1;
        font-size: 9pt;
        background-color: #fff;
        padding: 12px;
    }

    .img-web .ui_web {
        z-index: 0;
        width: 200px;
        height: auto;
        transform: rotateZ(40deg);
        margin-left: -15rem;
        margin-top: 31rem;
        position: absolute;
        background-color: #fff;
        box-shadow: 12px 14px 31px #eee;
    }

    /* STYLE PAGINA UiPageJogo.js */
    .container-page-jogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-page-jogos {
        width: 100% !important;
        z-index: 1;
    }

    .title-page-jogos h1 {
        width: 100%;
        z-index: 1;
        font-size: 11pt;
    }

    .title-page-jogos p {
        width: 100%;
        z-index: 1;
        font-size: 9pt;
        background-color: #fff;
        padding: 12px;
    }

    a.btn-jogo {
        display: none;
    }

    .img-jogo .ui_jogo {
        z-index: 2;
        padding: 21px;
        margin-top: 7rem;
        width: 200px;
        position: absolute;
        /* background-color: #fff; */
    }
}

@media screen and (min-width: 350px) and (max-width: 600px) {
    section.bg-ui-device {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100% !important;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .title-page-device {
        display: flexbox;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }

    .title-page-device h1 {
        width: 100%;
        font-size: 11pt;
    }

    .title-page-device p {
        z-index: 1;
        font-size: 9pt;
        background-color: #fff;
        padding: 12px;
        width: 100%;
    }

    img.ui_device {
        transform: scale(0.6, 0.6) rotateZ(15deg);
    }

    img.ui_device_03 {
        transform: scale(0.6, 0.6) rotateZ(-21deg);
        position: relative;
        border-radius: 10px;
    }

    /* ===================================================== */
    .container-page-web {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-page-web {
        width: 100% !important;
    }

    .title-page-web h1 {
        width: 100%;
        z-index: 1;
        font-size: 11pt;
    }

    .title-page-web p {
        width: 100%;
        z-index: 1;
        font-size: 9pt;
        background-color: #fff;
        padding: 12px;
    }

    .img-web .ui_web {
        z-index: 0;
        width: 200px;
        height: auto;
        transform: rotateZ(40deg);
        margin-left: -15rem;
        margin-top: 31rem;
        position: absolute;
        background-color: #fff;
        box-shadow: 12px 14px 31px #eee;
    }

    /* ========================================== */
    .container-page-jogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-page-jogos {
        width: 100% !important;
        z-index: 1;
    }

    .title-page-jogos h1 {
        width: 100%;
        z-index: 1;
        font-size: 11pt;
    }

    .title-page-jogos p {
        width: 100%;
        z-index: 1;
        font-size: 9pt;
        background-color: #fff;
        padding: 12px;
    }

    a.btn-jogo {
        display: none;
    }

    .img-jogo .ui_jogo {
        z-index: 2;
        padding: 21px;
        margin-top: 7rem;
        width: 200px;
        position: absolute;
        /* background-color: #fff; */
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    section.bg-ui-device {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100% !important;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .title-page-device {
        display: flexbox;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }

    .title-page-device h1 {
        width: 100%;
        font-size: 15pt;
    }

    .title-page-device p {
        z-index: 1;
        font-size: 12pt;
        background-color: #fff;
        padding: 12px;
        width: 100%;
    }

    img.ui_device {
        transform: scale(0.6, 0.6) rotateZ(15deg);
    }

    img.ui_device_03 {
        transform: scale(0.6, 0.6) rotateZ(-21deg);
        position: relative;
        border-radius: 10px;
    }

    /* ===================================================== */
    .container-page-web {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-page-web {
        width: 100% !important;
    }

    .title-page-web h1 {
        width: 100%;
        z-index: 1;
        font-size: 15pt;
    }

    .title-page-web p {
        width: 100%;
        z-index: 1;
        font-size: 12pt;
        background-color: #fff;
        padding: 12px;
    }

    .img-web .ui_web {
        z-index: 0;
        width: 200px;
        height: auto;
        transform: rotateZ(40deg);
        margin-left: -15rem;
        margin-top: 31rem;
        position: absolute;
        background-color: #fff;
        box-shadow: 12px 14px 31px #eee;
    }

    /* ================================================= */
    .container-page-jogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-page-jogos {
        width: 100% !important;
        z-index: 1;
    }

    .title-page-jogos h1 {
        width: 100%;
        z-index: 1;
        font-size: 15pt;
    }

    .title-page-jogos p {
        width: 100%;
        z-index: 1;
        font-size: 12pt;
        background-color: #fff;
        padding: 12px;
    }

    a.btn-jogo {
        display: none;
    }

    .img-jogo .ui_jogo {
        z-index: 2;
        padding: 21px;
        margin-top: 7rem;
        width: 200px;
        position: absolute;
        /* background-color: #fff; */
    }
}